h1 { font-size: 6rem; color: var(--primary-color); font-style: italic; }
.hero-p { color: #a09c9c; }
.hero-text { align-items: center; }
.main-container { display: flex; flex-direction: column; }
.hero-cards { justify-content: center; align-items: stretch; }
.cards { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; }
.card { background-color: #fff; padding: 30px; border-radius: 15px; transition: transform 0.3s ease; border: 2px solid transparent; overflow: hidden; display: flex; flex-direction: column; }
.card:hover { transform: scale(1.05); border: 2px solid var(--primary-color); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 25px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2); }
.card h2 { color: var(--primary-color); font-size: 1.1rem; padding-bottom: 15px; padding-top: 15px; }
.project-img { width: 100%; height: 180px; object-fit: cover; border-radius: 15px; }
.card p { font-size: 0.9rem; color: #a09c9c; flex-grow: 1; }
.tools { padding: 5%; display: flex; }
.tools span { color: var(--primary-color); background-color: rgb(250, 238, 250); }
.ancor { color: var(--primary-color); text-decoration: none; font-size: 1.1rem; margin-top: auto; }
.ancor:hover { text-decoration: underline; }
.links { margin-top: auto; display: flex; flex-direction: column; gap: 5px; }
@media (max-width: 575px) {
  .hero { margin-top: 20%; text-align: center; }
  .hero-text { text-align: center; margin-top: 20px; }
  h1 { font-size: 2.8rem; margin-bottom: 4%; }
  .hero-p { text-transform: capitalize; margin: 1%; }
  .card { margin: 5%; width: 90%; border: 1.5px solid var(--primary-color); }
  .tools { justify-content: center; }
  .tools span { margin-right: 20px; border-radius: 20px; padding: 10px; font-size: 0.7rem; }
  .ancor { padding: 10px; }
}
@media (min-width: 576px) and (max-width: 991px) {
  .hero { margin-top: 18%; }
  .hero-text { text-align: center; margin-bottom: 20px; }
  h1 { font-size: 2.8rem; }
  .hero-p { font-size: 0.9rem; text-transform: capitalize; margin: 1%; }
  .hero-cards { display: flex; flex-wrap: wrap; gap: 20px; }
  .card { width: 42%; border: 1.5px solid var(--primary-color); }
  .tools { justify-content: center; flex-wrap: wrap; }
  .tools span { font-size: 0.8rem; margin: 2%; border-radius: 12px; padding: 3%; }
  .ancor { font-size: 1rem; padding: 10px; }
}
@media (min-width: 992px) {
  h1 { font-size: 4.5rem; }
  .hero-p { font-size: 1rem; text-transform: capitalize; }
  .hero-text { display: flex; flex-direction: column; margin-top: 90px; line-height: 100px; }
  .hero-cards { display: flex; flex-wrap: wrap; }
  .card { width: 23%; margin: 1%; }
  .tools { justify-content: center; flex-wrap: wrap; }
  .tools span { padding: 10px; border-radius: 25px; margin: 1.5%; font-size: 1rem; }
  .ancor { margin: 8px; }
}
